In [29]:
import pandas as pd
import numpy as np

In [3]:
df =pd.Series([4, 7, -5, 3])
df

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
df.values

array([ 4,  7, -5,  3])

In [5]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
df2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
df2

d    4
b    7
a   -5
c    3
dtype: int64

In [7]:
df2[['a','b','c']]

a   -5
b    7
c    3
dtype: int64

In [8]:
df3=df2[df2>0]
df3

d    4
b    7
c    3
dtype: int64

In [9]:
df3*2

d     8
b    14
c     6
dtype: int64

In [11]:
'd' in df3

True

In [12]:
new_dict = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
df4 = pd.Series(new_dict)
df4

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [15]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = pd.DataFrame(data)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [16]:
frame_2=pd.DataFrame(data, columns=['year', 'state', 'pop'])
frame_2

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

In [18]:
frame_2['state']

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

In [19]:
frame_2.state

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

In [28]:
frame_2.loc[0]

year     2000
state    Ohio
pop       1.5
Name: 0, dtype: object

In [30]:
frame_2['debt'] = range(0,len(frame_2))
frame_2

   year   state  pop  debt
0  2000    Ohio  1.5     0
1  2001    Ohio  1.7     1
2  2002    Ohio  3.6     2
3  2001  Nevada  2.4     3
4  2002  Nevada  2.9     4

In [34]:
values = pd.Series([-1.2, -1.5, -1.7], index=[0,1,3])
frame_2['debt'] = values
frame_2

   year   state  pop  debt
0  2000    Ohio  1.5  -1.2
1  2001    Ohio  1.7  -1.5
2  2002    Ohio  3.6   NaN
3  2001  Nevada  2.4  -1.7
4  2002  Nevada  2.9   NaN

In [35]:
del frame_2['debt']
frame_2

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

In [37]:
frame_2.columns.name = 'state'
frame_2.index.name = 'Index'
frame_2

state  year   state  pop
Index
0      2000    Ohio  1.5
1      2001    Ohio  1.7
2      2002    Ohio  3.6
3      2001  Nevada  2.4
4      2002  Nevada  2.9

In [38]:
frame_2.values

array([[2000, 'Ohio', 1.5],
       [2001, 'Ohio', 1.7],
       [2002, 'Ohio', 3.6],
       [2001, 'Nevada', 2.4],
       [2002, 'Nevada', 2.9]], dtype=object)

In [40]:
df = pd.Series(range(3), index=['a', 'b', 'c'])
df.index

Index(['a', 'b', 'c'], dtype='object')

In [42]:
index = pd.Index(np.arange(3))
df2 = pd.Series([1.5, -2.5, 0], index=index)
df2.index

Int64Index([0, 1, 2], dtype='int64')

In [44]:
3 in df2.index

False

In [66]:
df_1=pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
df_2 = df.reindex(['a', 'b', 'c', 'd', 'e'],fill_value='missing')
df_2

a       -5.3
b        7.2
c        3.6
d        4.5
e    missing
dtype: object

In [74]:
df_3 =pd.DataFrame(np.arange(9).reshape((3, 3)), index=['a', 'c', 'd'],columns=['Ohio', 'Texas', 'California'])
df_3['states'] = ['Texas', 'Utah', 'California']
df_3.reindex(columns=df_3['states'].values)
df_3

   Ohio  Texas  California      states
a     0      1           2       Texas
c     3      4           5        Utah
d     6      7           8  California

In [77]:
df =pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
new_df =df.drop('c')
new_df

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [79]:
new_df=new_df.drop(['d', 'a'])
new_df

b    1.0
e    4.0
dtype: float64

In [81]:
df =pd.DataFrame(np.arange(16).reshape((4, 4)),index=['Ohio', 'Colorado', 'Utah', 'New York'], columns=['one', 'two', 'three', 'four'])
df=df.drop(['one','two'],axis=1)
df

          three  four
Ohio          2     3
Colorado      6     7
Utah         10    11
New York     14    15

In [84]:
df =pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
df['b']

1.0

In [86]:
df[2]

2.0

In [87]:
df[1:3]

b    1.0
c    2.0
dtype: float64

In [90]:
df[['a','b','c']]

a    0.0
b    1.0
c    2.0
dtype: float64

In [91]:
df[df>1]

c    2.0
d    3.0
dtype: float64

In [96]:
df =pd.DataFrame(np.arange(16).reshape((4, 4)),index=['Ohio', 'Colorado', 'Utah', 'New York'], columns=['one', 'two', 'three', 'four'])
df.loc['Utah',['one','two']]

one    8
two    9
Name: Utah, dtype: int64

In [97]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)), columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)), columns=list('abcde'))
df1+df2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [102]:
df1 =pd.DataFrame(np.arange(12.).reshape((3, 4)), columns=list('abcd'))
df2 =pd.DataFrame(np.arange(20.).reshape((4, 5)), columns=list('abcde'))
df1.add(df2, fill_value=0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [103]:
df1.reindex(columns=df2.columns, fill_value=0)

     a    b     c     d  e
0  0.0  1.0   2.0   3.0  0
1  4.0  5.0   6.0   7.0  0
2  8.0  9.0  10.0  11.0  0

In [108]:
df=pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(df)
df.apply(lambda x: x.max())

               b         d         e
Utah    2.032509  0.759756 -0.185594
Ohio   -0.553399  1.276492 -0.583562
Texas  -2.226230 -0.375013 -0.753695
Oregon -0.506315  0.700892 -1.279878

b    2.032509
d    1.276492
e   -0.185594
dtype: float64

In [109]:
print(df)
df.apply(lambda x: x.max(), axis=1)

               b         d         e
Utah    2.032509  0.759756 -0.185594
Ohio   -0.553399  1.276492 -0.583562
Texas  -2.226230 -0.375013 -0.753695
Oregon -0.506315  0.700892 -1.279878

Utah      2.032509
Ohio      1.276492
Texas    -0.375013
Oregon    0.700892
dtype: float64

In [110]:
def f(x):
  return pd.Series([x.min(), x.max()], index=['min', 'max'])
df.apply(f)

            b         d         e
min -2.226230 -0.375013 -1.279878
max  2.032509  1.276492 -0.185594

In [113]:
format = lambda x: '%.2f' % x
df.applymap(format)

            b      d      e
Utah     2.03   0.76  -0.19
Ohio    -0.55   1.28  -0.58
Texas   -2.23  -0.38  -0.75
Oregon  -0.51   0.70  -1.28

In [114]:
format = lambda x: '%.2f' % x
df['e'].map(format)

Utah      -0.19
Ohio      -0.58
Texas     -0.75
Oregon    -1.28
Name: e, dtype: object

In [115]:
df=pd.Series(range(4), index=['d', 'a', 'b', 'c'])
print(df)
df.sort_index()

d    0
a    1
b    2
c    3
dtype: int64

a    1
b    2
c    3
d    0
dtype: int64

In [117]:
df=pd.DataFrame(np.arange(8).reshape((2, 4)), index=['three', 'one'],columns=['d', 'a', 'b', 'c'])
print(df)
df.sort_index(axis=1,ascending=False)

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [119]:
df=pd.Series([4, np.nan, 7, np.nan, -3, 2])
print(df)
df.sort_values()

0    4.0
1    NaN
2    7.0
3    NaN
4   -3.0
5    2.0
dtype: float64

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64

In [124]:
df= pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
print(df)
df.sort_values(by=['a','b'])

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

   b  a
2 -3  0
0  4  0
3  2  1
1  7  1

In [129]:
df=pd.Series([7, -5, 7, 4, 2, 0, 4])
df.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [130]:
df.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [131]:
df=pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]], index=['a', 'b', 'c', 'd'])
print(df)
df.sum()

      0    1
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

0    9.25
1   -5.80
dtype: float64

In [134]:
df=pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]], index=['a', 'b', 'c', 'd'])
print(df)
df.sum(axis=1,skipna=False)

      0    1
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

In [135]:
print(df)
df.idxmax()

      0    1
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

0    b
1    d
dtype: object

In [137]:
print(df)
df.idxmin()

      0    1
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

0    d
1    b
dtype: object

In [138]:
print(df)
df.cumsum()

      0    1
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

      0    1
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [139]:
df.describe().T

   count      mean       std   min    25%  50%   75%  max
0    3.0  3.083333  3.493685  0.75  1.075  1.4  4.25  7.1
1    2.0 -2.900000  2.262742 -4.50 -3.700 -2.9 -2.10 -1.3

In [140]:
df=pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
print(df)
df.unique()

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

array(['c', 'a', 'd', 'b'], dtype=object)

In [152]:
pd.value_counts(df.values,sort=False)

c    3
a    3
d    1
b    2
dtype: int64

In [154]:
df=pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
print(df)
df.isin(['c'])

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8     True
dtype: bool

In [155]:
df =pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
 'Qu2': [2, 3, 1, 2, 3],
 'Qu3': [1, 5, 2, 4, 4]})

In [156]:
df.value_counts()

Qu1  Qu2  Qu3
1    2    1      1
3    2    4      1
     3    5      1
4    1    2      1
     3    4      1
dtype: int64